<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Document</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <div>
           <h3> About The Author</h3>
           <br>
           <article> my name is Chioma Anaeze. I am from Anambra state.<br>
             I speak English and Igbo. My favorite foods are pounded yam with egusi soup<br>
             and fried rice with chicken and salad. I hope to be a good python web developer<br>
             after my kodecamp internship. I have a great django teacher and so far, I can say<br>
             that I have gained a lot since I began my python classes on kodecamp.<br>
             Thank you Mr. Savvy for being a wonderful teacher. Thank you kodecamp for<br>
             giving me a great oppoprtunity.</article>
       </div>
        
        <script src="" async defer></script>
    </body>
</html>